@import "../../../common/css/colorDict.styl"

//search
$_search_main_bg_color = $_ffffff
$_search_border_color = $_eeeeee
$_search_tab_border_color = $_2bb789
$_search_font_color_light = $_999999
$_search_tag_bg_color = $_f8f8f8

$_search_color_hover = $_888888
$_search_shadow = $_a204_5

//empty
$_search_color_empty = $_aaaaaa

//project-search
$sp-bg-thead = $_edf6f3
$sp-bg-tr = $_fafafa
$sp-bg-tr-hover = $_f4fbf9

$sp-color-normal = $_333333
$sp-color-hover = $_888888
$sp-color-light = $_666666
$sp-color-active = $_2bb789

//
$sp-border = $_eeeeee
$sp-border-active = $_2bb789

$sp-bg-badge = $_f8f8f8
$sp-bg-thead = $_edf6f3

//article-search

$sa_main_bg_color = $_ffffff
$sa_main_line_color = $_eeeeee
$sa_color_active = $_2bb789
$sa_color_weight = $_333333
$sa_color_light = $_999999
$sa_link_bg = $_f8f8f8
$sa_tag_bg_color = $_f8f8f8





