@import "../../../common/css/colorDict.styl"

//search
$_search_main_bg_color = $_ffffff
$_search_border_color = $_eeeeee
$_search_tab_border_color = $_2bb789
$_search_font_color_light = $_999999





