//search-project
$sp-sort = $_icon_sort_normal
$sp-sort-hover = $_icon_sort_hover
$sp-sort-up = $_icon_sort_top
$sp-sort-down = $_icon_sort_down

$sp-collect-yes = $_icon_collect_big_selected
$sp-collect-yes-hover = $_icon_collect_big_selected_hover
$sp-collect-no = $_icon_collect_big_normal
$sp-collect-no-hover = $_icon_collect_big_hover