//search-project
$sp-sort = url(/static/web/icon_sort_normal@3x.png)
$sp-sort-hover = url(/static/web/icon_sort_hover@3x.png)
$sp-sort-up = url(/static/web/icon_sort_top@3x.png)
$sp-sort-down = url(/static/web/icon_sort_down@3x.png)

$sp-collect-yes = url(/static/web/icon_collect_big_selected@3x.png)
$sp-collect-yes-hover = url(/static/web/icon_collect_big_selected_hover@3x.png)
$sp-collect-no = url(/static/web/icon_collect_big_normal@3x.png)
$sp-collect-no-hover = url(/static/web/icon_collect_big_hover@3x.png)