@import "../../../common/css/colorDict.styl"

$_article_main_bg_color = $_ffffff
$_article_main_line_color = $_eeeeee
$_article_color_active = $_2bb789
$_article_color_weight = $_333333
$_article_color_light = $_999999
$_article_link_bg = $_f8f8f8
$_article_tag_bg_color = $_f8f8f8

