@import "../resource/color.styl"
@import "../resource/image.styl"
.scroll-sign
  .news-list-by-day
    box-shadow 0 0 4px 0 rgba(204,204,204,0.50)

  .top-card
    margin auto
    .has-more-news
      background-color $_has_more_news_bg
      display flex
      justify-content center
      align-items center
      height 36px
      cursor pointer
      opacity 0.9
      span
        color $_has_more_news_color
        font-size 14px
        line-height 20px
    .hidden-card
      background #fff
      box-shadow 0 2px 4px 0 rgba(204,204,204,0.50)
      .date-card
        border-radius: 4px
        padding 10px
        .date-card-main
          display inline-block
          width 55px
          text-align center
          background-image $_news_date_bg
          background-size contain
          background-repeat no-repeat
          p.month
            color white
            font-size 12px
            line-height 18px
          p.day
            font-size 18px
            line-height 35px
            margin-top -2px
        .date-card-other
          display inline-block
          margin-left 20px
          p.date-is
            font-size 20px
            line-height 28px
          p.week
            font-size 14px
            line-height 20px
        .jump
          display inline-block
          float right
          padding 10px
          img
            width 20px

