@import "../resource/color.styl"
@import "../resource/image.styl"

.news-list
  display flex
  justify-content center
  margin 15px
  .list-main
    width 50%

    .top-card
      position fixed
      width 50%
      top 0
    .news-thumbs
      float right
      width 30%



