@import "../resource/color.styl"
@import "../resource/image.styl"

.news-day-item
  margin auto
  background-color $_news_bg
  .date-card
    border-radius: 4px;
    background-color $_news_bg

    .date-card-main
      display inline-block
      width 55px
      text-align center
      background-image $_news_date_bg
      background-size contain
      background-repeat no-repeat
      p.month
        color white
        font-size 12px
        line-height 18px
      p.day
        font-size 18px
        line-height 35px
        margin-top -2px
        color $_news_color_weight

    .date-card-other
      display inline-block
      margin-left 20px
      p.date-is
        font-size 20px
        line-height 28px
        color $_news_color_weight
      p.week
        font-size 14px
        line-height 20px
        color $_news_color_light
    .jump
      display inline-block
      float right
      padding 10px 0 10px 10px
      cursor pointer
      img
        width 20px

  .news-item
    display flex
    justify-content space-between
    padding 10px

    .news-time
      span
        min-width 20px
        font-size 14px
        line-height 20px
      span:after
          display: inline-block;
          content: "";
          border-radius: 100%;
          background: #333;
          width: 10px;
          height: 10px;
      i
        padding-left 10px
    .news-main
      .for-hover
        .news-title
          line-height 20px
          cursor pointer
          margin-bottom 10px

        .news-content
          font-size 14px
          line-height 22px
      .news-thumbs
        margin 20px 0


