@import "../resource/color.styl"
@import "../resource/image.styl"

.news
  width 52%
  min-height inherit
  margin 15px auto
  box-shadow: 0 0 4px 0
  border-radius: 2px;
  padding 20px
  .date-card
    border-radius: 4px;
    .date-card-main
      display inline-block
      width 55px
      text-align center
      background-image $_news_date_bg
      background-size contain
      background-repeat no-repeat
      p.month
        color white
        font-size 12px
        line-height 18px
      p.day
        font-size 18px
        line-height 35px
        margin-top -2px
    .date-card-other
      display inline-block
      margin-left 20px
      p.date-is
        font-size 20px
        line-height 28px
      p.week
        font-size 14px
        line-height 20px
  .news-date
    margin 40px 0 30px 0
  .news-title
    font-size 22px
    line-height 30px
  .news-content
    font-size 20px
    line-height 34px
  .news-thumbs
    margin 20px 0
    .thumbs
      float right