@import "../resource/color.styl"
@import "../resource/image.styl"

.news-day-item
  margin auto
  background-color $_news_bg
  .date-card
    border-radius: 4px;
    padding 20px
    background-color $_news_bg

    .date-card-main
      display inline-block
      width 55px
      text-align center
      background-image $_news_date_bg
      background-size contain
      background-repeat no-repeat
      p.month
        color white
        font-size 12px
        line-height 18px
      p.day
        font-size 18px
        line-height 35px
        margin-top -2px
    .date-card-other
      display inline-block
      margin-left 20px
      p.date-is
        font-size 20px
        line-height 28px
      p.week
        font-size 14px
        line-height 20px
        color $_news_color_light
    .jump
      display inline-block
      float right
      padding 10px
      img
        width 20px

  .news-item
    display flex
    justify-content space-between
    padding 10px

    .news-time
      width 17%
      span
        min-width 20px
        font-size 14px
        line-height 20px
      i
        padding-left 10px
    .news-main
      width 80%
      .for-hover
        .news-title
          font-size 16px
          line-height 20px
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          width 90%
          cursor pointer
          margin-bottom 10px
        .news-content
          font-size 14px
          line-height 22px

      .news-thumbs
        margin 20px 0


