@import "../resource/color.styl"
@import "../resource/image.styl"

.news-list
  display flex
  justify-content center
  margin 15px

  .list-main
    width 760px
    position relative
    .news-item
      position relative
      .time-line
        border-left: 1px solid;
        position: absolute;
        height: 100%;
        left: 84px;
        top: 25px;
        color $_news_color_time-line
    .date-card
      padding 20px
    .news-item
      padding 10px 20px
      .news-time
        width 100px
        span:after
          margin 0 20px
      .news-main
        .news-title, .news-content
          width 625px
        .news-title
          font-size 16px
        .news-content
          word-wrap break-word
    .top-card.run
      position fixed
      width 760px
      height 33px
      top 0
    .top-card.stop
      width 760px
    .has-more-news.stop
      position absolute
      top 94px
      display flex
      justify-content center
      align-items center
      height 36px
      width 760px
    .has-more-news.run
      display flex
      justify-content center
      align-items center
      height 36px
      width 760px
    .news-thumbs
      float right
      width 240px



