@import "../../../common/css/colorDict.styl"
@import "../../../common/css/imageDict.styl"

.error-wrap
  width 1200px
  height 1000px
  margin 10px auto
  box-shadow 0 0 4px 0 $_a204_5
  border-radius 2px
  background no-repeat center 310px $_img_empty_three
  background-size auto 172px
  background-color $_ffffff
  padding-top 502px
  color $_aaaaaa
  text-align center
  font-size 16px

