@import "../../../common/css/colorDict.styl"

//collect
$collect-bg = $_ffffff

$collect-shadow = $_a204_5

$collect-border = $_eeeeee

$collect-color-light = $_aaaaaa
$collect-color-weight = $_333333


