@import "../../../common/css/colorDict.styl"

//projectList
$project-bg = $_ffffff

$project-shadow = $_a204_5

$project-color-doing = $_2bb789
$project-color-prepare = $_ef8534
$project-color-finish = $_999999

$project-color-weight = $_333333
$project-color-light = $_999999
$project-color-hover = $_666666

$project-bg-badge = $_f8f8f8
$project-bg-hover = $_f4fbf9

$project-border = $_eeeeee

$project-color-finish-bg = $_a153_12




