@import "../../../common/css/imageDict.styl"

$news-toTop = $_icon_top_small_normal
$news-toTop-hover = $_icon_top_small_hover
$news-next-bg = $_news_next_bg
$news-next-bg-hover = $_news_next_hover_bg