//图片索引表
//命名规则： $_文件名 = url(...)

$_back_white = url(/static/web/back_white@3x.png);

$_good_normal = url(/static/web/icon_good_normal@3x.png);
$_good_hover = url(/static/web/icon_good_hover@3x.png);
$_good_clicked = url(/static/web/icon_good_selected@3x.png);
$_good_clicked_hover = url(/static/web/icon_good_selected_hover@3x.png);

$_bad_normal = url(/static/web/icon_bad_normal@3x.png);
$_bad_hover = url(/static/web/icon_bad_hover@3x.png);
$_bad_clicked = url(/static/web/icon_bad_selected@3x.png);
$_bad_clicked_hover = url(/static/web/icon_bad_selected_hover@3x.png);

$_share_hover = url(/static/web/icon_lhlk_share_hover@3x.png);
$_share_normal = url(/static/web/icon_lhlk_share_normal@3x.png);

