//图片索引表
//命名规则： $_文件名 = url(...)

$_back_white = url(/static/web/back_white@3x.png);

$_good_normal = url(/static/web/icon_good_normal@3x.png);
$_good_hover = url(/static/web/icon_good_hover@3x.png);
$_good_clicked = url(/static/web/icon_good_selected@3x.png);
$_good_clicked_hover = url(/static/web/icon_good_selected_hover@3x.png);

$_bad_normal = url(/static/web/icon_bad_normal@3x.png);
$_bad_hover = url(/static/web/icon_bad_hover@3x.png);
$_bad_clicked = url(/static/web/icon_bad_selected@3x.png);
$_bad_clicked_hover = url(/static/web/icon_bad_selected_hover@3x.png);

$_share_hover = url(/static/web/icon_lhlk_share_hover@3x.png);
$_share_normal = url(/static/web/icon_lhlk_share_normal@3x.png);

//快讯小日历图
$_news_date_bg = url(/static/web/icon_date@3x.png);

//快讯next图
$_news_next_bg = url(/static/web/icon_next_normal@3x.png);
$_news_next_hover_bg = url(/static/web/icon_next_hover@3x.png);

//取消
$_icon_pop_cancel_normal = url(/static/web/icon_pop_cancel_normal@3x.png)
$_icon_pop_cancel_hover = url(/static/web/icon_pop_cancel_hover@3x.png)

//个人
$_icon_menu_personal_normal = url(/static/web/icon_menu_personal_normal@3x.png)
$_icon_menu_personal_hover = url(/static/web/icon_menu_personal_hover@3x.png)

//搜索
$_icon_menu_search_normal = url(/static/web/icon_menu_search_normal@3x.png)
$_icon_menu_search_hover = url(/static/web/icon_menu_search_selected@3x.png)

//分享
$_icon_menu_share_normal = url(/static/web/icon_menu_share_normal@3x.png)
$_icon_menu_share_hover = url(/static/web/icon_menu_share_hover@3x.png)

//微信
$_icon_menu_wechat_normal = url(/static/web/icon_menu_wechat_normal@3x.png)
$_icon_menu_wechat_hover = url(/static/web/icon_menu_wechat_hover@3x.png)

//qb
$_icon_footer_qb_normal = url(/static/web/icon_footer_qb_normal@3x.png)
$_icon_footer_qb_hover = url(/static/web/icon_footer_qb_hover@3x.png)

//twitter
$_icon_footer_twitter_normal = url(/static/web/icon_footer_twitter_normal@3x.png)
$_icon_footer_twitter_hover = url(/static/web/icon_footer_twitter_hover@3x.png)

//facebook
$_icon_face_normal = url(/static/web/icon_face_normal@3x.png)
$_icon_face_hover = url(/static/web/icon_face_hover@3x.png)

//微博
$_icon_footer_wb_normal = url(/static/web/icon_footer_wb_normal@3x.png)
$_icon_footer_wb_hover = url(/static/web/icon_footer_wb_hover@3x.png)

//文章 观看数量
$_icon_article_watch = url(/static/web/icon_browse@3x.png)

//文章 喜爱数量
$_icon_article_love = url(/static/web/icon_laud_normal@3x.png)

//文章 收藏数量
$_icon_article_favourite_normal = url(/static/web/icon_collect_big_normal@3x.png)
$_icon_article_favourite_normal_hover = url(/static/web/icon_collect_big_hover@3x.png)
$_icon_article_favourite_selected_normal = url(/static/web/icon_collect_big_selected@3x.png)
$_icon_article_favourite_selected_hover = url(/static/web/icon_collect_big_selected_hover@3x.png)

//底部置顶
$_icon_top_big_normal = url(/static/web/icon_top_big_normal@3x.png)
$_icon_top_big_hover = url(/static/web/icon_top_big_hover@3x.png)

//快讯置顶
$_icon_top_small_hover = url(/static/web/icon_top_small_hover@3x.png)git 
$_icon_top_small_normal = url(/static/web/icon_top_small_normal@3x.png)

//数据为空
$_img_empty_one =  url(/static/web/img_empty_one@3x.png)
$_img_empty_two =  url(/static/web/img_empty_two@3x.png)
$_img_empty_three =  url(/static/web/img_empty_three@3x.png)

//排序
$_icon_sort_normal = url(/static/web/icon_sort_normal@3x.png)
$_icon_sort_hover = url(/static/web/icon_sort_hover@3x.png)
$_icon_sort_top = url(/static/web/icon_sort_top@3x.png)
$_icon_sort_down = url(/static/web/icon_sort_down@3x.png)

//收藏
$_icon_collect_big_selected = url(/static/web/icon_collect_big_selected@3x.png)
$_icon_collect_big_selected_hover = url(/static/web/icon_collect_big_selected_hover@3x.png)
$_icon_collect_big_normal = url(/static/web/icon_collect_big_normal@3x.png)
$_icon_collect_big_hover = url(/static/web/icon_collect_big_hover@3x.png)
$_icon_collect_big_selected = url(/static/web/icon_collect_big_selected@3x.png)
$_icon_collect_big_selected_hover = url(/static/web/icon_collect_big_selected_hover@3x.png)

//列表，卡片布局
$_icon_mode_list_normal = url(/static/web/icon_mode_list_normal@3x.png)
$_icon_mode_list_selectes = url(/static/web/icon_mode_list_selectes@3x.png)
$_icon_mode_card_normal = url(/static/web/icon_mode_card_normal@3x.png)
$_icon_mode_card_selectes = url(/static/web/icon_mode_card_selectes@3x.png)

//展开，收起
$_icon_spread_normal = url(/static/web/icon_spread_normal@3x.png)
$_icon_spread_hover = url(/static/web/icon_spread_hover@3x.png)
$_icon_retract_normal = url(/static/web/icon_retract_normal@3x.png)
$_icon_retract_hover = url(/static/web/icon_retract_hover@3x.png)

//单选按钮
$_icon_radio_normal = url(/static/web/icon_radio_normal@3x.png)
$_icon_radio_hover = url(/static/web/icon_radio_hover@3x.png)
$_icon_radio_selected = url(/static/web/icon_radio_selected@3x.png)

//热度图
$_icon_heat_big = url(/static/web/icon_heat_big@3x.png)




