@import "../resource/color.styl"
@import "../resource/image.styl"
@import "login.styl"

.router-wrap
  .header
    .price-wrap
      background $header-bg-top
      height 40px
      .price
        width 1200px
        margin 0 auto
        line-height 40px
        height 40px
        position relative
        overflow hidden
        ul
          position absolute
          white-space nowrap
          li
            display inline-block
            vertical-align top
            width 240px
            img
              width auto
              height 24px
              margin-right 8px
              vertical-align -6px
            span
              font-size 14px
              color $_cccccc
            i
              font-size 14px
              color $header-color-coin
              margin-left 6px
              &.down
                color $header-color-down
              &.up
                color $header-color-up

    .nav-wrap
      height 60px
      background $header-bg-nav
      box-shadow 0 2px 4px 0 $header-shadow-nav
      .nav
        width 1200px
        margin 0 auto
        height 60px
        display flex
        align-items center
        .logo
          width auto
          height 30px
          margin-right 60px

        .nav-left
          flex-grow 1
          display inline-flex
          align-items center
          a
            color $header-color-normal
            margin-right 40px
            font-size 16px
            cursor pointer
            &.active
              color $header-color-weight !important
              pointer-events none
            &:hover
              color $header-color-hover
          .srch
            margin-left 20px
            display inline-flex
            align-items center
            input
              width 320px
              height 36px
              padding 8px 28px 8px 12px
              outline 0
              font-size 14px
              color $header-color-weight
              background $header-input-bg
              border 1px solid transparent
              border-radius 4px
              &::placeholder
                font-size 14px
                color $header-color-normal
              &:focus
                background transparent
                border-color $header-color-normal
                +i
                  background-image $header-search-hover
            i
              display inline-block
              width 16px
              height 16px
              margin-left -28px
              background no-repeat center center
              background-size 100% 100%
              background-image $header-search
              cursor pointer

        .nav-right
          display inline-flex
          align-items center
          .ri
            margin-left 40px
            position relative
            height 60px
            line-height 60px
            a
              font-size 16px
              color $header-color-normal
              cursor pointer
              &:hover
                color $header-color-hover
            .drop
              display none
              position absolute
              left 50%
              padding 8px 0
              background $header-bg-nav
              box-shadow 0 0 10px 0 $header-shadow-drop
              border-radius 2px
              z-index 1000
              margin-top 15px
              &:before
                content ""
                display block
                position absolute
                left 50%
                top -5px
                margin-left -5px
                width 10px
                height 10px
                background $header-bg-nav
                transform rotate(45deg)
                box-shadow -3px -3px 10px 0 $header-shadow-drop
              &.wechat-drop
                width 116px
                height 116px
                margin-left -58px
                padding 10px
              &.person-drop
                width 116px
                margin-left -58px
                li
                  height 36px
                  line-height 36px
                  padding 0 20px
                  cursor pointer
                  img
                    height 14px
                    width auto
                    margin-right 6px
                    vertical-align -2px
                  span
                    color $header-color-light
                    font-size 14px
                  &:hover
                    background $header-bg-drop-hover
            i
              display block
              width 24px
              height 24px
              margin-top 18px
              background no-repeat center center
              background-size 100% 100%
              cursor pointer
              &.share
                background-image $header-share
              &.wechat
                background-image $header-wechat
              &.person
                background-image $header-person
            &:hover
              .share
                background-image $header-share-hover
              .wechat
                background-image $header-wechat-hover
              .person
                background-image $header-person-hover
              .drop
                display block



