@import "../resource/color.styl"
@import "../resource/image.styl"

.router-wrap
  .login-wrap
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    z-index 1000
    background $login-wrap-bg
    .login
      position absolute
      left 50%
      top 50%
      width 400px
      height 400px
      margin-left -200px
      margin-top -200px
      background $login-bg
      border-radius 4px
      padding 40px

      h3
        font-size 38px
        color $login-color-weight
        text-align center
        margin-bottom 15px
        letter-spacing 3.2px

      .group
        height 52px
        margin-top 10px
        border-bottom 1px solid $_eeeeee
        position relative
        display flex
        align-items center
        input
          align-self stretch
          color $login-color-weight
          font-size 14px
          outline 0
          flex-grow 1
          &::placeholder
            color $login-color-light
            font-size 14px
        .err
          position absolute
          left 103px
          color $login-color-err
          font-size 14px
      .phone-code
        a
          color $login-color-code
          cursor pointer
          &.disable
            color $login-color-disable !important
            pointer-events none
          &:hover
            color $login-color-hover
      .img-code
        img
          width auto
          height 40px
          cursor pointer

      .submit
        margin-top 40px
        width 100%
        height 36px
        line-height 36px
        text-align center
        background $login-submit-bg
        border-radius 4px
        display block
        color $login-submit-color
        font-size 14px
        cursor pointer
        &:hover
          background $login-submit-hover

      .close
        width 16px
        height 16px
        background no-repeat center center;
        background-size 100% 100%
        background-image $_icon_pop_cancel_normal
        position absolute
        left 100%
        top 0
        margin-left 20px
        margin-top -36px
        cursor pointer
        &:hover
          background-image $_icon_pop_cancel_hover






