@import "../../../common/css/colorDict.styl"

//pagination
$pagi-color-normal = $_333333
$pagi-color-hover = $_888888
$pagi-color-active = $_2bb789

//alert
$alert-bg = $_ffffff
$alert-shadow = $_cccccc
$alert-color = $_333333

//progress
$progress-color = $_2bb789
$progress-bg = $_a43_183_137_2
$progress-step-bg = $_2bb789

//heatArc
$heat-bg = $_eeeeee
$heat-linear-start = $_ffbc1b
$heat-linear-end = $_ff801a



//thumbs

$thumbs-color-normal = $_333333
$thumbs-color-hover = $_888888
$thumbs-color-active = $_2bb789
$thumbs-color-active-bad = $_f25656





