@import "../../../common/css/colorDict.styl"

//pagination
$pagi-color-normal = $_333333
$pagi-color-hover = $_888888
$pagi-color-active = $_2bb789

//alert
$alert-bg = $_ffffff
$alert-shadow = $_cccccc
$alert-color = $_333333

//progress
$progress-color = $_2bb789
$progress-bg = $_a43_183_137_12
$progress-step-bg = $_2bb789

//heat
$heat-empty-bg = $_ffffff
$heat-gradient-start = $_fad961
$heat-gradient-end = $_f76b1c
$heat-shadow = $_a204_5


//thumbs

$thumbs-color-normal = $_333333
$thumbs-color-light = $_999999
$thumbs-color-hover = $_888888
$thumbs-color-active = $_2bb789
$thumbs-color-active-bad = $_f25656





