@import "../resource/color.styl"

.alert-wrap
  width 520px
  height 51px
  position fixed
  top 20%
  left 50%
  margin-left -260px
  .alert
    line-height 51px
    opacity 0.9
    background $alert-bg
    border-radius 4px
    box-shadow 0 4px 20px 0 $alert-shadow
    font-size 14px
    color $alert-color
    text-align center

