@import "../resource/color.styl"

.pagination-wrap
  .pagination
    height 20px
    line-height 20px
    user-select none
    li
      color $pagi-color-normal
      cursor pointer
      margin 0 15px
      display inline-block
      vertical-align top
      font-size 14px
      &:hover
        color $pagi-color-hover
      &.active
        color $pagi-color-active
        pointer-events none
      &.omit
        pointer-events none
        cursor default
        margin 0 5px
