@import "../resource/color.styl"
@import "../resource/image.styl"

//文章列表 样式表

.article
  width 43.5%
  background darkcyan
  padding 15px
  li
    border-bottom: 1px solid springgreen;
    padding 15px 0
  .article-title
    font-size 20px
    line-height 28px
  .article-content
    font-size 14px
    line-height 28px
  .article-info
    display flex
    justify-content space-between
    span.article-author, span.article-date, span.article-favorite-span, span.article-read-span, span.article-love-span
      font-size 14px
      line-height 20px
    span.article-date
      padding-left 10px
    span.article-read-span, span.article-love-span
      padding-right 20px
    img
      width 14px
      height 14px
      vertical-align -1px
      margin-right 5px
