@import "../resource/color.styl"
@import "../resource/image.styl"

//文章列表 样式表

.article-main
  width 760px
  margin auto
  position relative
  .left-tool
    background: $_article_main_bg_color
    box-shadow: 0 0 4px 0 rgba(204,204,204,0.50);
    border-radius: 4px;
    position absolute
    left -110px
    top 60px
    padding 15px 15px 0 15px
    text-align center
    .love-div
      background-image $_icon_article_love
      background-size cover
      width 20px
      height 20px
      margin 5px 10px
    .share-div
      background-image $_icon_menu_share_normal
      background-size cover
      width 20px
      height 20px
      margin 5px 10px
      &:hover
        background-image $_icon_menu_share_hover
    span.article-love-span, span.article-share-span, span.favourite-span
      display block
      margin 10px 0 20px 0
      color $_article_color_light
    .favourite
      .favourite-div.notfav
        background-image $_icon_article_favourite_normal
        background-size contain
        width 20px
        height 20px
        margin 5px 10px
      .favourite-div.isfav
        display inline-block
        background-image $_icon_article_favourite_selected_normal
        background-size contain
        width 20px
        height 20px
        margin 5px 10px

      &:hover span, .notfav:hover
        color $_article_color_active
      &:hover .favourite-div.notfav
        background-image $_icon_article_favourite_normal_hover
      &:hover .favourite-div.isfav
        background-image $_icon_article_favourite_selected_hover
    .favourite.isfav
      color $_article_color_active


  .article-detail
    width 760px
    background $_article_main_bg_color
    padding 20px
    margin 10px auto

    h1
      font-size 24px
      line-height 33px
      padding-bottom 10px
      color $_article_color_weight
    .article-info
      display flex
      justify-content space-between
      margin-bottom 20px
      .article-author-info
        span.author
          font-size 16px
          line-height 22px
          padding-right 15px
          color $_article_color_weight
        span.speak
          font-size 14px
          line-height 20px
          color $_article_color_light
      span.date
        font-size 14px
        line-height 20px
        color $_article_color_light
      img
        width 14px
        height 14px
        vertical-align -1px
        margin-right 5px
    img.top-image
      width 720px
      height auto
    .article-content
      font-size 16px
      line-height 26px
      margin-top 20px
      color $_article_color_weight
    .article-bottom
      display flex
      justify-content space-between
      .tag-place
        margin-top 25px
        cursor pointer
        .tag
          display inline-block
          text-align center
          font-size 14px
          line-height 20px

          border-radius 100px
          height 32px
          min-width 60px
          padding 5px 10px
          margin-right 15px

        .tag-normal
          background $_article_link_bg
          color $_article_color_light
        .tag-project
          background $_article_tag_pro_bg_color
          color $_article_tag_pro_color

      .right-info
        display flex
        justify-content space-between
        width 30%
        margin-top 30px
        .love
          .love-div
            display inline-block
            background-image $_icon_article_love
            background-size cover
            width 14px
            height 14px
            vertical-align -2px
            margin-right 5px
          .love-span
            font-size 14px
            color $_article_color_light
        .share
          .share-div
            display inline-block
            background-image $_icon_menu_share_normal
            background-size cover
            width 14px
            height 14px
            vertical-align -2px
            margin-right 6.6px
          .share-span
            font-size 14px
            color $_article_color_light
        .favourite
          span
            color $_article_color_light
          .favourite-div.notfav
            display inline-block
            background-image $_icon_article_favourite_normal
            background-size contain
            width 14px
            height 14px
            margin-right 6.6px
            vertical-align -2px


          .favourite-div.isfav
            display inline-block
            background-image $_icon_article_favourite_selected_normal
            background-size contain
            width 15px
            height 15px
            margin-right 6.6px
            vertical-align -2px


          &:hover span, .notfav:hover
            color $_article_color_active
          &:hover .favourite-div.notfav
            background-image $_icon_article_favourite_normal_hover
          &:hover .favourite-div.isfav
            background-image $_icon_article_favourite_selected_hover
        .favourite.isfav
          color $_article_color_active

