@import "../resource/color.styl"
@import "../resource/image.styl"

//文章列表 样式表

.article
  background $_article_main_bg_color
  padding 10px
  li
    border-bottom: 1px solid $_article_main_line_color
    padding 15px 0
  .article-has-img
    display flex
    justify-content space-between
    margin-bottom 15px
    img
      width 200px
      height 149.5px
    .article-title
      font-size 20px
      line-height 28px
      margin-bottom 10px
    .article-content
      font-size 14px
      line-height 28px

  .article-no-img
    margin-bottom 15px
    .article-title
      font-size 20px
      line-height 28px
      margin-bottom 10px
    .article-content
      font-size 14px
      line-height 28px


  .article-info
    display flex
    justify-content space-between
    margin 10px 0
    .left-info
      .article-author
        margin-right 10px
    .right-info
      display flex
      justify-content space-between
      width 30%
      .watch
        .watch-div
          display inline-block
          background-image $_icon_article_watch
          background-size contain
          width 15px
          height 15px
          margin-right 5px
          vertical-align -2px
        .watch-span
          font-size 14px
      .love
        .love-div
          display inline-block
          background-image $_icon_article_love
          background-size contain
          width 15px
          height 15px
          margin-right 5px
          vertical-align -2px

        .love-span
          font-size 14px
      .favourite
        .favourite-div.notfav
          display inline-block
          background-image $_icon_article_favourite_normal
          background-size contain
          width 15px
          height 15px
          margin-right 5px
          vertical-align -2px


        .favourite-div.isfav
          display inline-block
          background-image $_icon_article_favourite_selected_normal
          background-size contain
          width 15px
          height 15px
          margin-right 5px
          vertical-align -2px


        &:hover, .notfav:hover
          color $_article_color_active
        &:hover .favourite-div.notfav
          background-image $_icon_article_favourite_normal_hover
        &:hover .favourite-div.isfav
          background-image $_icon_article_favourite_selected_hover
      .favourite.isfav
        color $_article_color_active
