
.main
  width 760px
  background #ffffff
  box-shadow 0 0 4px 0 rgba(204,204,204,0.50)
  border-radius 2px
  margin 10px auto
  padding 20px
  .btn-div
    .btn
      width 200px
      height 46px
      background: rgba(43,183,137,0.00);
      border: 1px solid #2BB789;
      border-radius: 2px;
      font-size: 16px;
      color: #2BB789;
      text-align: center;
      margin-right 20px
  .title-div, .author-div, .say-div, .tags-div
    margin 13px auto
    position relative
    input
      width 720px
      height 40px
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 2px;
      font-size: 14px;
      color: #333333;
      padding-left 14px
    span.warn
      position absolute
      top 0
      right 14px
      font-size: 14px;
      color: #F25656;
      text-align: right;
      height 40px
      line-height 40px
    span.normal
      display none
  .tools-div
    display grid
    grid-template-columns 260px 200px 160px 100px
    height 46px
    input.preview
      grid-column-start 4
      grid-column-end 5
    input.file
      visibility hidden
    input.release
      background: #2BB789;
      border-radius: 2px;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
    input.preview
      background: rgba(43,183,137,0.00);
      border: 1px solid #2BB789;
      border-radius: 2px;
      font-size: 16px;
      color: #2BB789;
      text-align: center;
    input
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 2px;
      font-size: 14px;
      color: #333333;
