@import "../../../common/css/colorDict.styl"

//header
$header-bg-top = $_444444
$header-color-coin = $_cccccc
$header-color-down = $_f25656
$header-color-up = $_2bb789

$header-bg-nav = $_ffffff
$header-shadow-nav = $_a238_8

$header-color-weight = $_333333
$header-color-normal = $_aaaaaa
$header-color-hover = $_888888

$header-input-bg = $_f6f6f6

// footer
$footer-bg = $_222222
$footer-color-weight = $_ffffff
$footer-color-normal = $_999999
$footer-color-hover = $_cccccc
$footer-color-ba = $_a255_5
$footer-shadow-rf = $_a204_5

//login
$login-wrap-bg = $_a0_6
$login-bg = $_ffffff

$login-color-weight = $_333333
$login-color-light = $_cccccc
$login-color-err = $_f25656
$login-color-code = $_2bb789
$login-color-disable = $_999999
$login-color-hover = $_26a47b

$login-submit-bg = $_2bb789
$login-submit-hover = $_26a47b
$login-submit-color = $_ffffff

$login-border = $_eeeeee


