@import "../../../common/css/imageDict.styl"

//header
$header-logo = $_icon_logo_mrbd
$header-search = $_icon_menu_search_normal
$header-search-hover = $_icon_menu_search_hover
$header-share = $_icon_menu_share_normal
$header-share-hover = $_icon_menu_share_hover
$header-wechat = $_icon_menu_wechat_normal
$header-wechat-hover = $_icon_menu_wechat_hover
$header-person = $_icon_menu_personal_normal
$header-person-hover = $_icon_menu_personal_hover

//footer
$footer-qb = $_icon_footer_qb_normal
$footer-qb-hover = $_icon_footer_qb_hover
$footer-tw = $_icon_footer_twitter_normal
$footer-tw-hover = $_icon_footer_twitter_hover
$footer-wb = $_icon_footer_wb_normal
$footer-wb-hover = $_icon_footer_wb_hover

//login
$login-close = $_icon_pop_cancel_normal
$login-close-hover = $_icon_pop_cancel_hover
