@import "../resource/color.styl"
@import "../resource/image.styl"
@import "../stylus/projectSearch.styl"

.search-main
  width 760px
  margin 10px auto 40px auto
  background-color $_search_main_bg_color
  box-shadow 0 0 4px 0 $_search_shadow
  border-radius 2px
  i.light
    color $sa_color_active
    font-size 20px
  // 搜索tab页
  .search-tab
    height 50px
    padding 0 20px
    border-bottom 1px solid $_search_border_color
    .tab-ul
      display inline-flex
      height 50px
      li
        line-height 47px
        font-size 16px
        cursor pointer
        margin-right 40px
        &:hover
          color $_search_color_hover
        &.active
          border-bottom 3px solid $_search_tab_border_color
    .tip
      color $_search_font_color_light
      font-size 14px
      line-height 50px
      float right

  // empty
  div.no-result
    height 600px
    text-align center
    padding-top 150px
    img.no-result-img
      display block
      width 350px
      height 164px
      margin 0 auto 20px auto
    span
      color $_search_color_empty
      font-size 16px
      line-height 22px


