@import "../resource/color.styl"
@import "../resource/image.styl"
@import "../stylus/projectSearch.styl"

.search-main
  width 760px
  margin 20px auto 40px auto
  background-color $_search_main_bg_color
  box-shadow 0 0 4px 0 $_search_shadow
  border-radius 2px

  //无图样式
  div.no-result
    height 600px
    text-align center
    padding-top 150px
    img.no-result-img
      display block
      width 350px
      height 164px
      margin 0 auto 20px auto
    span
      color $_search_color_empty
      font-size 16px
      line-height 22px

  // 搜索tab页
  .search-tab
    height 50px
    padding 0 20px
    border-bottom 1px solid $_search_border_color
    .tab-ul
      display inline-flex
      height 50px
      li
        line-height 47px
        font-size 16px
        cursor pointer
        margin-right 40px
        &:hover
          color $_search_color_hover
        &.active
          border-bottom 3px solid $_search_tab_border_color
    .tip
      color $_search_font_color_light
      font-size 14px
      line-height 50px
      float right

// 搜索文章结果
//  .search-article

// 搜索快讯结果
  .search-news
    padding 0 20px
    .news-item
      margin 15px 0
      p.news-time
        color $_search_font_color_light
        margin 32px 0 16px 0
      .news-main
        .news-title
          font-size 16px
          line-height 22px
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          width 90%
          margin-bottom 10px

        .news-content
          font-size 14px
          line-height 22px
        .news-thumbs
          margin 20px 0
          text-align right
          .thumbs
            display inline-flex
            width 250px
            .share-div
              text-align initial
// 搜索项目结果


