@import "../resource/color.styl"
@import "../resource/image.styl"
@import "../stylus/projectSearch.styl"

.search-main
  width 760px
  margin 20px auto 40px auto
  padding-bottom 20px
  background-color $_search_main_bg_color
  box-shadow 0 0 4px 0 $_search_shadow
  border-radius 2px

  // 搜索tab页
  .search-tab
    height 50px
    padding 0 20px
    border-bottom 1px solid $_search_border_color
    .tab-ul
      display inline-flex
      height 50px
      li
        line-height 47px
        font-size 16px
        cursor pointer
        margin-right 40px
        &:hover
          color $_search_color_hover
        &.active
          border-bottom 3px solid $_search_tab_border_color
    .tip
      color $_search_font_color_light
      font-size 14px
      line-height 50px
      float right


