@import "../../../common/css/colorDict.styl"

//list
$list-bg = $_ffffff
$list-shadow = $_a204_5

$list-border = $_eeeeee
$list-border-active = $_2bb789

$list-color-normal = $_333333
$list-color-hover = $_888888
$list-color-light = $_666666
$list-color-active = $_2bb789

$list-bg-tr-hover = $_f4fbf9
$list-bg-tr = $_fafafa
$list-bg-badge = $_f8f8f8
$list-bg-thead = $_edf6f3

//detail
$detail-bg = $_ffffff
$detail-shadow = $_a204_5

$detail-border = $_eeeeee

$detail-color-weight = $_333333
$detail-color-active = $_2bb789
$detail-color-light = $_999999
$detail-color-link = $_26a47b
$detail-color-heat = $_ff801a
$detail-color-btn = $_ffffff
$detail-color-badge = $_666666

$detail-bg-badge = $_f8f8f8
$detail-bg-hover = $_f4fbf9





