@import "../../../common/css/imageDict.styl"

//list
$list-sort = $_icon_sort_normal
$list-sort-hover = $_icon_sort_hover
$list-sort-up = $_icon_sort_top
$list-sort-down = $_icon_sort_down

$list-collect-yes = $_icon_collect_big_selected
$list-collect-yes-hover = $_icon_collect_big_selected_hover
$list-collect-no = $_icon_collect_big_normal
$list-collect-no-hover = $_icon_collect_big_hover

$list-view-list = $_icon_mode_list_normal
$list-view-list-active = $_icon_mode_list_selectes
$list-view-card = $_icon_mode_card_normal
$list-view-card-active = $_icon_mode_card_selectes

$list-empty = $_img_empty_two

//detail
$detail-tw = $_icon_footer_twitter_normal
$detail-tw-hover = $_icon_footer_twitter_hover
$detail-fb = $_icon_face_normal
$detail-fb-hover = $_icon_face_hover
$detail-share = $_icon_menu_share_normal
$detail-share-hover= $_icon_menu_share_hover
$detail-collect-no = $_icon_collect_big_normal
$detail-collect-no-hover = $_icon_collect_big_hover
$detail-collect-yes = $_icon_collect_big_selected
$detail-collect-yes-hover = $_icon_collect_big_selected_hover

$detail-spread = $_icon_spread_normal
$detail-spread-hover = $_icon_spread_hover
$detail-retract = $_icon_retract_normal
$detail-retract-hover = $_icon_retract_hover

$detail-radio-normal = $_icon_radio_normal
$detail-radio-hover = $_icon_radio_hover
$detail-radio-selected = $_icon_radio_selected


