@import "../../../common/css/imageDict.styl"

//list
$list-sort = url(/static/web/icon_sort_normal@3x.png)
$list-sort-hover = url(/static/web/icon_sort_hover@3x.png)
$list-sort-up = url(/static/web/icon_sort_top@3x.png)
$list-sort-down = url(/static/web/icon_sort_down@3x.png)

$list-collect-yes = url(/static/web/icon_collect_big_selected@3x.png)
$list-collect-yes-hover = url(/static/web/icon_collect_big_selected_hover@3x.png)
$list-collect-no = url(/static/web/icon_collect_big_normal@3x.png)
$list-collect-no-hover = url(/static/web/icon_collect_big_hover@3x.png)

$list-view-list = url(/static/web/icon_mode_list_normal@3x.png)
$list-view-list-active = url(/static/web/icon_mode_list_selectes@3x.png)
$list-view-card = url(/static/web/icon_mode_card_normal@3x.png)
$list-view-card-active = url(/static/web/icon_mode_card_selectes@3x.png)

//detail
$detail-tw = url(/static/web/icon_twitter_normal@3x.png)
$detail-tw-hover = url(/static/web/icon_twitter_hover@3x.png)
$detail-fb = url(/static/web/icon_face_normal@3x.png)
$detail-fb-hover = url(/static/web/icon_face_hover@3x.png)
$detail-share = url(/static/web/icon_menu_share_normal@3x.png)
$detail-share-hover= url(/static/web/icon_menu_share_hover@3x.png)
$detail-collect-no = url(/static/web/icon_collect_big_normal@3x.png)
$detail-collect-no-hover = url(/static/web/icon_collect_big_hover@3x.png)
$detail-collect-yes = url(/static/web/icon_collect_big_selected@3x.png)
$detail-collect-yes-hover = url(/static/web/icon_collect_big_selected_hover@3x.png)

$detail-spread = url(/static/web/icon_spread_normal@3x.png)
$detail-spread-hover = url(/static/web/icon_spread_hover@3x.png)
$detail-retract = url(/static/web/icon_retract_normal@3x.png)
$detail-retract-hover = url(/static/web/icon_retract_hover@3x.png)


