@import "../resource/color.styl"
@import "../resource/image.styl"
@import "./projectList.styl"

.home-wrap
  position relative
  .home
    width 1200px
    margin 0 auto
    display flex
    position relative
    .article-wrap
      width 620px
      margin 10px
    .remove-scroll-bar
      width 314px
      overflow hidden
      .news-wrap
        width 330px
        overflow-y scroll
        height calc(200vh)
        margin 10px 0

        .news-day-item
          .time-line
            border-left: 1px solid;
            position: absolute;
            height: 100%;
            left: 74px;
            top: 25px;
            color $project-border
          .date-card
            padding 20px
          .news-item
            position relative
            .news-time
              width 80px
              padding-left 10px
              span
                width 60px
              span:after
                margin-left 10px

            .news-main
              margin-right 10px
              width 198px
              .for-hover:hover
                color $project-color-doing
              .for-hover
                color $project-color-weight

              .news-title
                font-size 14px
        .floatTop
          position absolute
          top 10px
          width 297px
          z-index 400
        .floatTop ~ .news-item
          margin-top 70px
        .top-card
          width 313px //  去滚动边框
          position absolute
          top 10px
          z-index 300
          .has-more-news
            position absolute
            top 94px
            width 100%
            display flex
            justify-content center
            align-items center
            height 36px


