@import "../resource/color.styl"
@import "../resource/image.styl"
@import "./projectList.styl"


.home-wrap
  position relative
  .home
    width 1200px
    margin 0 auto
    display flex
    position relative
    .article-wrap
      width 620px
      margin 10px
    .remove-scroll-bar
      //width 300px
      //overflow hidden
      .news-wrap
        width 314px
        overflow-y scroll
        height calc(200vh)
        margin 10px 0
        .for-hover:hover
            color $project-color-doing
        .for-hover
            color $project-color-weight
        .floatTop
          position absolute
          top 10px
          width 297px
          z-index 400
        .floatTop ~ .news-item
          margin-top 70px
        .top-card
          width 297px // 坑 浏览去边框
          position absolute
          top 10px
          z-index 300
          .has-more-news
            position absolute
            top 94px
            width 100%
            display flex
            justify-content center
            align-items center
            height 36px


