@import "../resource/color.styl"
@import "../resource/image.styl"
@import "./projectList.styl"


.home-wrap
  display flex
  justify-content center
  position relative
  .article-wrap
    width 43%
  .news-wrap
    width 22%
    overflow-y scroll
    height calc(100vh)
    margin 15px
    //.hidden-card
    .top-card
      width 20.8% // 坑 浏览去边框
      position absolute
      top 15px
      z-index 300

